@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using semigura.Commons;
@model semigura.Models.S09002ViewModel
@{
    ViewBag.Title = Localizer["M_S09002"];
}

<link href="@Url.Content(string.Format("~/Content/dev/css/{0}", Utils.GetMinifiedFileName("S09002.css")))" rel="stylesheet" type="text/css">


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4 home_header">
    <h1 class="h3 mb-0 text-gray-800"><i class="bi bi-display" style="margin-right: 3.5px;"></i>@Localizer["M_S09002"]</h1>
</div>

<!-- Content Row -->
<div class="container">
    <div class="row" style="margin-left: 20px">
        <button type="button" class="btn btn-warning" onclick="Back()">
            <i class="bi bi-arrow-90deg-left"></i> @Localizer["backbtn"]
        </button>
    </div>
    <div class="row form-border">
        <form id="alertemail-form" role="form" class="inputForm">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="form_label">@Localizer["email"]（<span class="required-label">&#42;</span>）：</label>
                        <div class="wapper-input">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row registerBtn">
                <div class="col-md-3 col-sm-12 reggisterButton">
                    <button type="button" class="btn btn-success" onclick="Save()">
                        <i class="fas fa-check-circle"></i> @Localizer["savebtn"]
                    </button>
                </div>
            </div>

            @Html.HiddenFor(model => model.Id)
        </form>
    </div>
</div>

<input id="is_edit_flg" type="hidden" />
<input id="main_page_url" type="hidden" value="@Url.Action("Index", "S09002")" />

<script src="@Url.Content(string.Format("~/Content/dev/js/{0}", Utils.GetMinifiedFileName("S09002.js")))" type="text/javascript"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

